:root {
  --dark-Color: #19283f;
  --grreen-Color: #33d1cc;
  --red-Color: #ff3150;
  --yellow-Color: #ffc400;
  --section-Color:#eff7fa;
}
body {font-family: "Roboto", sans-serif;}
.main-btn {
  background-color: var(--red-Color);
  color: var(--yellow-Color);
  border: none;
  padding: 0.5rem 1rem;
}
.main-btn:hover {color: white;}
.main-title::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 2px;
  background-color: var(--grreen-Color);
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);}
/* Start NavBar */
.navbar {background-color: var(--dark-Color);}
.navbar .navbar-nav .nav-link {color: white;}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {color: var(--grreen-Color);}
.navbar .search {border-left: 1px solid var(--grreen-Color);}
.navbar .search svg {color: var(--grreen-Color);}
.navbar .navbar-toggler {
  border-color: white;
  font-size: 25px;
}.navbar .navbar-toggler:focus { box-shadow: none;}
.navbar .navbar-toggler[aria-expanded="true"] {border-color: var(--grreen-Color);}
/* End NavBar */
/* Start Landing */
.landing {
  background-color: var(--dark-Color);
  min-height: calc(100vh - 72px);}
/* End Landing */
/* Start Features */
.features .icon-holder {height: 200px;}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);}
.features .icon-holder .number {
    font-size: 12rem;
    color:var(--section-Color) ;
}
.features .icon-holder .icon {color: var(--grreen-Color);}
.features .feet h4 {color: var(--yellow-Color);}
/* End Features */
/* Start Our Work */
.our-Work {background-color: var(--section-Color);}
.our-Work ul .active {
    background-color: var(--red-Color);
    color: var(--yellow-Color);}
.our-Work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;}
.our-Work ul li:not(.active):hover {color: var(--red-Color);}
.our-Work .box {
    padding: 5px;
    overflow: hidden;}
.box::before {
    content: attr(data-work);
    position: absolute;
    background-color: #33d1ccba;
    width: calc(100% - 10px);
    height:  calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s linear ;
    font-size: 1.5rem;
    color: white;
    transform: translateX(calc(-100% - 5px));}
.box:hover::before {transform: translateX(0);}
/* End Our Work */
/* Start Stuff */
.stuff .description  {max-width: 400px;}
/* End Stuff */
/* Start Team */
.team {background-color: var(--section-Color);}
.team h2 {color: var(--yellow-Color);}
.team .box-team h4 {background-color: var(--grreen-Color);}
/* End Team */
/* Start Project */
.project  {background-color: var(--dark-Color);}
/* End Project */
/* Start subscribe */
.subscribe {background-color: var(--yellow-Color);}
.subscribe input.text {
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input.text:focus {outline: none;}
.subscribe ::placeholder {color: white;}
.subscribe input.submit {
    background-color: var(--dark-Color);
    color: var(--yellow-Color);
}
/* End subscribe */
/* Start Footer */
footer {background-color: var(--dark-Color);}
footer .cobyright > span {color: var(--grreen-Color);}
footer .cobyright div span {color: var(--yellow-Color);}
footer .contact ul svg {
  width: 20px;
  height: 20px;}
footer .facebook {background-color: #1877f2;}
footer .twitter {background-color: #1da1f2;}
footer .linkedin {background-color: #0077b5;}
footer .google {background-color: #ff0000;}
/* End Footer */